* {
  box-sizing: border-box;/*changes how the width and height of elements are calculated. The width and height include the content, padding, and border, but not extend beyond them. This makes it easier to manage the size of elements, especially when adding padding or borders.*/
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%; /* Ensures full height of the screen */
  font-family: Arial, sans-serif;
}

.app-layout {
  display: flex;
}

.sidebar-layout {
  width: 250px; /* Width of the side nav bar */
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}


.content-layout {
  flex: 1; /* Takes the remaining width */
  background-color: #ecf0f1;
  padding: 20px;
}
